/* comment */ 




header {
  max-height: 600px;
  height: 600px;
  overflow: hidden; }
  
  header .calltoaction {
    position: absolute;
    width: 100%;
    bottom: 20%; }
    
    #Header { 
    
     min-height: 600px;
      height: 600px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);

}  
  header img.header-image {
    width: 1600px;
    top: 0px;
    left: 50%;
    height:700px;
    margin-left: -800px; }
  header .header-logo {
    position: absolute;
    top: 50px;
    right: 50px;
    opacity: 1; }
    header .header-logo:hover {
      opacity: 0.8; }
    @media (max-width: 500px) {
      header .header-logo {
        display: none; 
		}
        }

    
 .header-titles {
    position: absolute;
    bottom: 30%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Droid Arabic Naskh"; }
     .header-titles h1 {
      font-weight: 700;
      font-size: 36px;
      letter-spacing: 0.06rem;
      margin-bottom: 10px; }
       .header-titles h1 span {
        color: #22a79d; }
      @media screen and (max-width: 375px) {
         .header-titles h1 {
          font-size: 30px; } }
     .header-titles h2 {
      width: 80%;
      font-size: 16px;
      margin: 0 auto; }
      @media screen and (max-width: 375px) {
         .header-titles h2 {
          font-size: 30px;
          font-size: 16px; } }
  header .header-social {
    position: absolute;
    top: 70px;
    left: 50px;
    overflow: hidden; }
    @media (max-width: 500px) {
      header .header-social {
        position: absolute;
        width: 108px;
        left: 50%;
        margin-left: -54px; } }
    header .header-social a {
      float: right;
      width: 26px;
      height: 26px;
      margin: 0 5px;
      text-indent: -99999px;
      background: url(../images/social-icons.png) no-repeat;
      opacity: 0.8; }
      header .header-social a:hover {
        opacity: 1; }
      header .header-social a.header-facebook {
        background-position: 0px 0px; }
      header .header-social a.header-twitter {
        background-position: -25px 0px; }
      header .header-social a.header-instagram {
        background-position: -50px 0px; }

.template {
	padding-top:20px;
	width: 100%;
	height: 100%;
	/* background-image: linear-gradient(to bottom right, #47558A 0%, rgb(31, 39, 70) 100%); */
}

/*#sec-one{
  background-color: #eee;
 
}*/
/*.template .myform {
	    width: 250px;
	    height: 320px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;
      border-radius: 30px;
      display: block;
      text-align: center;
      text-decoration: none;
      padding-top: 7px;
      background-color: hsla(194, 78%, 33%, 0.26);
}

 .search-frm {
    width: 350px;
    padding-left: 10px;
    padding-top: 7px;
   
  }


.template .myinput  {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
      border-radius: 10px;
	  margin-top:0px;
      display: block;
      text-align: center;
      color: #1ab;
      height: 40px;
      text-decoration: none;
      padding: 2px; 
    border: solid 1px #d5d5d5; 
    outline: 0; 
    font: 20px Verdana, Tahoma, sans-serif;  
	}
	
  .template input:focus {
  border: 1px solid blue;
}


  .template .mylabel {
      width: 200px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0px;
    margin-top:0px;
      display: block;
      text-align: center;
      color: #1ab;
      height: 40px;
      text-decoration: none;
      padding-top: 7px;
        
       }

 .template .mybutton  {
      width: 150px;
      border: 1px #188c84 solid;
      border-radius: 30px;
      background-color: #1CA99F;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
	  margin-top:0px;
      display: block;
      text-align: center;
      color: whitesmoke;
      height: 40px;
      text-decoration: none;
      padding-top: 7px; }
       .template .mybutton:hover {
        background-color: #157d76;
        text-decoration: none; }
      @media screen and (max-width: 680px) {
         .template .mybutton {
           } }

  .myheader {
      width: 200px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0px;
      margin-top:0px;
      display: block;
      text-align: center;
      color: #1ab;
      height: 40px;
      text-decoration: none;
      padding-top: 7px;
      font: 20px Verdana, Tahoma, sans-serif; 

       }*/
 
.sec-main {
  background-color: #ECEAEA;
  width:100% ;
  padding:15px;
}
 

  
  .sec-main h3 {
    color: #877e7e;
font-family: "Droid Arabic Naskh";
text-align: center;
margin-bottom: 60px;
margin-top: 60px;
font-size: 48px; }
  .sec-main .My-image {
    background-color: #eee; }
  .sec-main img {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 100%;
    height: 300px;
    filter: gray;
    /* IE6-9 */
    filter: grayscale(0);
    /* Firefox 35+ */
    -webkit-filter: grayscale(0);
    /* Google Chrome, Safari 6+ & Opera 15+ */ }
    .sec-main img:hover {
      filter: gray;
      /* IE6-9 */
      filter: grayscale(1);
      /* Firefox 35+ */
      -webkit-filter: grayscale(1);
      /* Google Chrome, Safari 6+ & Opera 15+ */
      tranistion: all 1s;
      -webkit-transition: all 1s; }
  .sec-main p {
    font-family: "Droid Arabic Naskh";
    font-size: 12px;
    background: white;
    letter-spacing: 1px;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 10px;
    background-color: #EAEAEA;
    margin-bottom: 40px; }

.Txtalign_cntr{
    text-align: center;
}
footer {
  background: white;
  text-align: center; }



  footer h4 {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Droid Arabic Naskh";
    color: #1ab;
    margin-top: 60px; }
  footer .about-text {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Droid Arabic Naskh";
font-size: 40px	}
  footer .contact-now-btn {
    display: inline-block;
    width: 30%;
    color: white;
    height: 80px;
    background: #585c65;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: "Droid Arabic Naskh";
    font-size: 30px;
    font-weight: bold; }
    footer .contact-now-btn:hover {
      background: #646873; }

.My-footer-bottom {
      background-color: rgba(165, 158, 158, 0.26);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    text-align: center;
    font-family: "Droid Arabic Naskh";
    height: 120px;
    margin-top: auto;
    padding-top: 50px;
    border-top: 1px solid #eee;
        font-size: 25px;
}

 #about { 
    
     min-height: 300px;
      height: 300px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);

}

 article {
			position: relative;
			width: 100%;
			margin-top: 00px;
			overflow: hidden;
			height: 100%; 
            text-align: center; 
            top: 0px; 
  

		}
		article img {
			position: absolute;
			bottom:0px;
			left: 0;
            width: 100%;
           height:600px;
   
		}
		article p {
			position: absolute;
			width: 100%;
			margin-top: 120px;
			text-transform: uppercase;
			color: #fff;
			font-size: 6em;
		}
       

 
 .PadTop-20{
     padding-top :20px;
 }

 .inc-input{
  float: left;
  width: 50px;
  font: bold 20px Helvetica, sans-serif;
  padding: 3px 0 0 0;
  text-align: center;
  border-radius: 20px;
  color: coral
}

.button {
  margin: 0 5px 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  
}
.dec {
  background: url(../images/minus.png) no-repeat;
}
.inc{
	background: url(../images/plus.png) no-repeat;
}

.btncount-grp{
        padding-bottom: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 128px;
}

.restrant-form {
       border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5 5 5 5;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
}